@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fugaz+One&family=Jersey+10&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Racing+Sans+One&display=swap');


                                      
:root {
    --padding-container: 60px 0;
    --color-title: red;
}

body {
    
    font-family: 'Poppins', sans-serif;

    

}

.container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 1000px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: rgb(0, 0, 0);
    z-index: 778;
    background: #000000;
}

.hero .fondo{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.fondonavegacion{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.fondonavegacion .btn_fondo{
    width: 12px;
    height: 12px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.fondonavegacion .btn_fondo.active{
    background: rgb(255, 0, 0);
}

.fondonavegacion .btn_fondo:not(:last-child){
    margin-right: 20px;
}

.fondonavegacion .btn_fondo:hover{
    transform: scale(1.2);
}

.fondo{
    position: absolute;
    width: 100%;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

}

.fondo.active{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    transition: 1s;
    
}




.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    animation: scroll 20s linear infinite;
    -webkit-animation:scroll 20s linear infinite;
    background-size: cover;
    
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 900;
    
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 1000px;
    max-height: 900px;
    --padding-container: 100p;
    display: grid;
    
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 10px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
    color: white;
   height: 200px;
}

@font-face {
    font-family: 'font-id';
    src: url('/fontid/FontsFree-Net-verbatim-black-oblique.ttf');
}

.hero__paragraph {
    margin-bottom: 10px;
    height: 200px;
    font-size: 30px;
    color: rgb(255, 0, 0);
    font-family: 'font-id';
}

.cta {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    color: #000000;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.cta2 {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    justify-self: center;
    color: #ffffff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    
}




.about__paragraph {
    line-height: 1.7;
    font-size: large;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    
}



.about__icon {
    width: 40px;
    animation: rotate 3s infinite;
}

@keyframes rotate{
    0%{ transform: rotate(0deg);}
    100%{transform: scale(360deg);}
}

/* Knowledge */


    

.knowledge {
    
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #ffffff 0.5px);
    
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    padding-bottom: 0px;
    
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    height: 100%;
    width: 100%;
   
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    font-size: large;
}

.knowledge__img{
    
    display: inline-block;
    align-items: center;
}

/* price */



.service .subtitle{
    text-align: center;
}


.sersubtitle{
    color: black;
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}

.service__table{
    position: sticky;
    padding-top: 700px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.service .slide .item{
   
    top: 50%;
    left: 50%;
    width: 200px;
    height: 300px;
    position: absolute;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    transition: 0.5s;
   
}

.slide .item:nth-child(1){
    left: calc(60% + 440px);
    z-index: 1;
}
.slide .item:nth-child(2){
    top: 50%;
    left: 0%;
    
    border-radius: 2;
    width: 100%;
    height: 90%;
    
}


.slide .item:nth-child(3){
    left: 60%;
}
.slide .item:nth-child(4){
    left: calc(60% + 220px);
}

.slide .item:nth-child(5){
    left: calc(60% + 440px);
}




.item .content{
    position: absolute;
    top: 15%;
    left: 30px;
   
    width: 300px;
    text-align: left;
    color: rgb(132, 93, 93);
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    

   color: red;
    font-weight: bold;  
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    display: flex;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}



@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
   
    text-align: center;
    position: absolute;
    
}

.button button{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    margin: 5px 5px;
    border: 1px solid #000;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #ff0000;
}


/* Testimony */

.testimony{
    background-color: #ffffff;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: red;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

.testimony__review{
    font-size: 25px;
}

/* Questions */

.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__paragraph{
 font-size: large;
}
.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.questions__offer{
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;

}

.questions__offer .barra{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation:scroll 20s linear infinite;
    width: calc(200px * 14);
}   

.questions__offer .marca{
    width: 100%;
}
.subtitlemarcas{
    color: black;
    font-size: 2rem;
    margin-bottom: 25px;
}

.questions__offer .barra img{
    width: 200px;
}

@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 25));
        transform: translateX(calc(-200px * 25));
    }
}

/* Footer */

.footer{
    background-image: url('../images/footer.jpg');
    background-size: cover;
    
    z-index: -1;
}

.footer__title{
    width: 300px;
       font-size: 50px;
    
}

.footer__title, .footer__newsletter{
    color: rgb(255, 255, 255);
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.nav--footer{
    padding-bottom: 10px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.footerinfo{
    font-size: 20px;
    color: white;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: red;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
    
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
        z-index: 9999;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
        
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
      
        justify-self: center;
        
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }

    
    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}
